@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes float {
      0%, 100% { transform: translateY(0px); }
      50% { transform: translateY(-10px); }
    }
  
    @keyframes float-rev {
      0%, 100% { transform: translateY(0px); }
      50% { transform: translateY(10px); }
    }
  
    .animate-float {
      animation: float 6s ease-in-out infinite;
    }
  
    .animate-float-rev {
      animation: float-rev 8s ease-in-out infinite;
    }
  }
  